@model Dictionary<string,int>

<table class="table table-striped table-sm table-bordered">
    <thead>
        <tr>
            <th>
                Genre
            </th>
            <th>
                Movies
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(_ => item.Key)
                </td>
                <td>
                    @Html.DisplayFor(_ => item.Value)
                </td>
            </tr>
        }
    </tbody>
</table>
